# 1000 A+B

In [ ]:
a, b = map(int, input().split())
print(a+b)

1 2
3

# 1001 A-B

In [ ]:
a, b = map(int, input().split())
print(a - b)

1 3
-2

# 1008 A/B

In [ ]:
a, b = map(int, input().split())
print(a/b)

1 3
0.3333333333333333

In [ ]:
a, b = map(int, input().split())
print(a/b)

4 5
0.8

# 1152 단어의 개수

In [ ]:
a = list(map(str, input().split()))
print(len(a))

 The first character is a blank
6

# 2475 검증수

In [ ]:
a = list(map(int, input().split()))

count = 0
for i in a:
    count += i**2

print(count%10)

0 4 2 5 6
1

# 2557 Hello World

In [ ]:
print('Hello World!')

Hello World!

# 10171 고양이

In [ ]:
cat = """
\    /\\
 )  ( ')
(  /  )
 \(__)|
"""
print(cat)

\    /\
 )  ( ')
(  /  )
 \(__)|

In [ ]:
print("\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

# 10172 개

In [ ]:
print("|\_/|")
print("|q p|   /}")
print('( 0 )"""\\')
print('|"^"`    |')
print("||_/=\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

# 10869 사칙연산

In [ ]:
import math
a, b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(math.trunc(a/b))
print(a%b)

7 3
10
4
21
2
1

# 10998 AxB

In [ ]:
a, b = map(int, input().split())
print(a*b)

3 4
12

# 11654 아스키코드

- 숫자 : chr()
- 문자 : ord()

In [ ]:
a = input()
if a == (0, 1, 2, 3, 4, 5, 6, 7, 8, 9):
    print(chr(int(a)))
else :
    print(ord(a))

a
97

# 1330 두 수 비교하기

In [ ]:
a, b = map(int, input().split())

if a > b:
    print('>')
elif a < b:
    print('<')
else :
    print('==')

5 5
==

# 2753 윤년

In [ ]:
a = int(input())

if a%4 == 0 and a%100 != 0 or a%400 == 0:
        print(1)

else:
    print(0)

1900
0

# 9498 시험성적

In [ ]:
a = int(input())

if 90 <= a <= 100:
    print('A')

elif 80 <= a <= 89:
    print('B')

elif 70 <= a <= 79:
    print('C')

elif 60 <= a <= 69:
    print('D')

else :
    print('F')

50
F

# 2438 별 찍기 1

In [ ]:
a = int(input())

for i in range(a):
    print('*'*(i+1))

5
*
**
***
****
*****

# 2439 별 찍기 2

In [ ]:
a = int(input())

for i in range(a):
    print((' '*(a-(i+1))) + ('*'*(i+1)))

5
    *
   **
  ***
 ****
*****

# 2739 구구단

In [ ]:
a = int(input())

for i in range(9):
    print(f'{a} * {i+1} =', a * (i+1))

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

# 2741 N찍기

In [ ]:
a = int(input())

for i in range(a):
    print(i+1)

5
1
2
3
4
5

# 2742 기찍N

In [ ]:
a = int(input())

for i in range(a):
    print(a-i)

5
5
4
3
2
1

# 2884 알람시계

In [ ]:
h, m = map(int, input().split())

if h == 0 :
    h = 24

if m >= 45 :
    h += 1
    m -= 60

h -= 1    
m += 15

if h == 24:
    h = 0

print(h, m)

0 56
0 11

# 10818 최소, 최대

In [ ]:
a = int(input())
b = list(map(int, input().split()))

print(min(b), max(b))

5
30 20 35 10 7
7 35

# 10871 X보다 작은 수

In [ ]:
n, x = map(int, input().split())
b = list(map(int, input().split()))

for i in range(n):
    if b[i] < x :
        print(b[i], end=' ')

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

# 10950 A+B -3

In [ ]:
n = int(input())

nlist = []
for i in range(n):
    a, b = map(int, input().split())
    nlist.append(a+b)

for i in range(n):
    print(nlist[i])

5
1 1
2 3
3 4
9 8
5 2
2
5
7
17
7

# 10951 A + B - 4

In [ ]:
nlist = []

while True :
    try :
        a, b = map(int, input().split())
        nlist.append(a+b)
    except :
        break

print(*nlist, sep='\n')

1 1
2
2 2
4
3 3
6

# 10952 A + B - 5

In [ ]:
while True :
    a, b = map(int, input().split())
    if a == 0 and b == 0 :
        break
    else : 
        print(a+b)

1 1
2
2 3
5
0 0

# 2562 최댓값

In [ ]:
alist = []
while True :
    try : 
        a = int(input())
        alist.append(a)
    except :
        break

print(max(alist))

for i in range(len(alist)) :
    if alist[i] == max(alist) :
        print(i+1)

3
29
38
12
57
74
40
85
61

85
8

In [ ]:
alist = []
for i in range(9) :
    a = int(input())
    alist.append(a)

print(max(alist))

for i in range(9) :
    if max(alist) == alist[i] :
        print(i+1)

3
29
38
12
57
74
40
85
61
85
8

In [ ]:
scores = []
for i in range(9):
    scores.append(int(input()))

print(max(scores))
print(scores.index(max(scores))+1)

3
29
38
12
57
74
40
85
61
85
8

# 2577 숫자의 개수

In [ ]:
a = int(input())
b = int(input())
c = int(input())

score = a * b * c
x = list(map(int, str(score)))

for i in range(10):
    print(x.count(i))

150
266
427
[1, 7, 0, 3, 7, 3, 0, 0]
3
1
0
2
0
0
0
2
0
0

In [ ]:
a = int(input())
b = int(input())
c = int(input())

x = list(str(a * b * c))
for i in range(10):
    print(x.count(str(i)))

150
266
427
3
1
0
2
0
0
0
2
0
0

# 2675 문자열 반복

In [ ]:
t = int(input())

for n in range(t):
    r, s = input().split()
    slist = []
    for i in range(len(list(s))):    
        for j in range(int(r)):
            slist.append(list(s)[i])
    
    print(''.join(slist))

2
3 abc
aaabbbccc
5 /htp
/////hhhhhtttttppppp

In [ ]:
test = int(input())

for i in range(test):
    li = []
    mul, insert = input().split()
    mul = int(mul)
    for s in insert:
        li.append(s*mul)
    
    result = ''.join(li)
    print(result)

# 2908 상수

In [ ]:
num = list(input().split())
reverse_list = []
    
for i in range(2):
    reverse = ''
    for j in num[i]:
        reverse = j + reverse
        reverse_list.append(int(reverse))

print(max(reverse_list))

221 231
132

In [ ]:
print(max([int(X[::-1]) for X in input().split()]))

221 231
132

# 2920 음계

In [ ]:
num = list(range(1, 9, 1))
X = list(map(int, input().split()))

if X == num :
    print('ascending')
elif X == num[::-1]:
    print('descending')
else : 
    print('mixed')

8 7 6 5 4 3 2 1
descending

In [ ]:
num = list(range(1, 9, 1))
print(num)

None
[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
notes = list(map(int, input().split()))

if (notes == sorted(notes)):
    print('ascending')
elif (notes == sorted(notes, reverse=True)):
    print('descending')
else:
    print('mixed')

1 2 3 4 5 6 7 8
ascending

In [ ]:
A = input().split()

if ''.join(A) == '12345678':
    print('ascending')
elif ''.join(A) == '87654321':
    print('descending')
else :
    print('mixed')

# 3052 나머지

In [ ]:
x = []
for i in range(10):
    n = int(input())
    x.append(n%42)
print(len(list(set(x))))

1
2
3
4
5
6
7
8
9
10
10

In [ ]:
x = set()

for i in range(10):
    x.add(int(input())%42)

print(len(x))

1
2
3
4
5
6
7
8
9
10
10

# 8958 OX퀴즈

In [ ]:
t = int(input())

for i in range(t):
    ox = list(input())
    count, score = 0, 0
    for j in range(len(ox)):
        if ox[j] == 'O':
            count += 1
            score += count
        else:
            count = 0
    print(score)

5
t = int(input())  for i in range(t):     ox = list(input())     count = 0     score = 0     for j in range(len(ox)):         if ox[j] == 'O':             count += 1             score += count         if ox[j] == 'X':             count = 0     print(score)
1
OOXXOXXOOO
10
OOOOXOOOOXOOOOX
30
OOOOOOOOOO
55
OOXXOOXXOO
9

# 10890 알파벳 찾기

In [ ]:
n = int(input())
score, num = 0, list(input())
for i in range(n):
    score += int(num[i])
print(score)

11
10987654321
46

In [ ]:
n = int(input())
s = int(input())
slist = list(map(int,str(s)))
print(sum(slist))

11
10987654321
46

# 1546 평균

In [ ]:
n = int(input())
score = list(map(int, input().split()))
new_score = 0
for i in range(n):
    new_score += score[i]/max(score)*100
print(new_score/n)

4
10 20 0 100
32.5

In [ ]:
n = int(input())
score = list(map(int, input().split()))
m = max(score)
new_score = sum(score)/m*100/n
print(new_score)

4
10 20 0 100
32.5

# 1157 단어공부

In [ ]:
str1 = input().upper()
dict1 = {}

for i in range(len(str1)):
    num1 = str1.count(str1[i])
    dict1[str1[i]] = int(num1)

list1 = list(dict1.values())
set1 = set(list1)

if len(list1) > len(set1):
    print('?')
else :
    print(max(dict1, key=dict1.get))

zZa
ZZA
{'Z': 2, 'A': 1}
Z

In [ ]:
str1 = input().upper()
str_list = []
num_list = []

for i in range(len(str1)):
    if str1[i] not in str_list:
        num1 = str1.count(str1[i])
        num_list.append(num1)
        str_list.append(str1[i])

my_max = max(num_list)

if num_list.count(my_max) > 1 :
    print('?')
else :
    idx = num_list.index(my_max)
    print(str_list[idx])

missisisipi
[1, 5, 4, 1]
['M', 'I', 'S', 'P']
I

## 10809 알파벳 찾기

In [ ]:
from string import ascii_lowercase
alpha_list = ascii_lowercase

my_str = input()
str_list = []

for i in alpha_list:
    s = my_str.find(i)
    str_list.append(s)

print(" ".join(map(str,str_list)))

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [ ]:
string = input()
for i in range(26):
    print(string.find(chr(97+i)), end = ' ')

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [ ]:
from string import ascii_lowercase
alpha_list = ascii_lowercase

my_str = input()

for i in alpha_list:
    print(my_str.find(i), end = ' ')

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1